:root {
	--text-size: 16px;
	--link-text-size: calc(var(--text-size) * (1 / sqrt(0.5)));
	--link-color: hsl(210, 0%, 16%);
	--link-visited: hsl(220, 16%, 70%);
	--link-hover: hsl(200, 70%, 30%);
	--bullet-color: hsl(15, 50%, 50%);
	--link-active: hsl(200, 70%, 50%);
}

body {
	font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.article-thumbnail {
	--thumbnail-size: 300px; /*70%;/*200px;*/
	--thumbnail-aspect: calc(sqrt(5 / 3));

	display: inline-block;
	font-size: 0;
	border: 0.25px solid hsla(0, 0%, 25%, 50%);
	width: calc(var(--thumbnail-size) * var(--thumbnail-aspect));
	height: calc(var(--thumbnail-size) / var(--thumbnail-aspect));
	object-fit: cover;
}

div.animal-table {
	border-width: 0em;
	border-color: hsla(0, 0%, 25%, 50%);
	padding: 1rem;
	font-size: 2em;
	font-weight: 500;
}

div.article-container {
	font-family: "Ubuntu", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	/*font-size: 70%;*/
	padding: inherit;
	border-style: solid;
	border-radius: calc(1px * 16);
	border-width: calc(1pt * ((sqrt(5) * 0.5 + 0.5)));
}
div.article-container article {
	display: grid;
	/*align-items: self-start;*/
	font-size: 70%;
	font-weight: inherit;
	padding: 1em;
	/*padding: 1em;*/
	border-style: solid;
	border-radius: calc(1vh * 1);
	border-width: 0;
	border-top-width: calc(0.5pt * ((sqrt(5) * 0.5 + 0.5)));
}
div.article-container article h2 {
	margin-right: 10%;
	align-self: start;
}
div.article-container article h2,
div.article-container article img {
	display: inline-block;
}
.text {
	font-size: var(--text-size);
	font-weight: 400;
}
.bullet {
	margin: 0.0625cm;
	margin-left: 0rem;
	/*padding: unset;*/
	/*padding: 1em;*/
}
.bullet::marker {
	color: var(--bullet-color);
}
.article-container article ul {
	display: block;
	padding-inline-start: 2rem;
}

.link {
	font-size: var(--link-text-size);
	font-weight: 400;
	display: block;
	margin-bottom: 1rem;
}

a:link {
	color: var(--link-color);
	text-decoration: none;
	transition: ease-in-out;
	transition-duration: 1000ms;
}
a:visited {
	color: var(--link-visited);
	text-decoration: none;
}
a:hover {
	color: var(--link-hover);
	text-decoration: none;
	transition: ease-out;
	transition-duration: 50ms;
}
a:active {
	color: var(--link-active);
	text-decoration: underline;
	transition: ease-out;
	transition-duration: 30ms;
}

div.article-container article div::before,
bullet::before {
	/*background-color: silver;*/
	/*content: "•"; font-size: 1.1em;*/
	content: url("graphics/circle.svg");
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	/*width: 1em;*/
	height: 1em;
}
