:root {
}

body {
	font-family: "Ubuntu", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.article-thumbnail {
	--thumbnail-size: 200px;
	--thumbnail-aspect: calc(sqrt(5 / 3));

	display: inline-block;
	font-size: 0;
	border: 0.25px solid hsla(0, 0%, 25%, 50%);
	width: calc(var(--thumbnail-size) * var(--thumbnail-aspect));
	height: calc(var(--thumbnail-size) / var(--thumbnail-aspect));
}

div.animal-table {
	border-width: 0em;
	border-color: hsla(0, 0%, 25%, 50%);
	padding: 1rem;
	font-size: 2em;
	font-weight: 500;
}

div.animal-types {
	font-family: "Ubuntu", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	/*font-size: 70%;*/
	padding: inherit;
}
div.animal-types article {
	font-size: 70%;
	font-weight: inherit;
	/*padding: 1rem;*/
	/*padding: 1em;*/
}
div.animal-types article div,
bullet {
	font-size: 70%;
	font-weight: 400;
	margin: 0.0625cm;
	margin-left: 1em;
	/*padding: unset;*/
	/*padding: 1em;*/
}
div.animal-types article img {
	width: 3cm;
	height: 2cm;
	/*border: 1mm;
	border-style: solid;
	border-color: hsla(0, 0, 25, 70%);*/
}

div.animal-types article div,
bullet {
	display: block;
	position: relative;
	padding: 0.0625cm;
	padding-left: 1.5em;
	font-size: 1rem;
}

div.animal-types article div::before,
bullet::before {
	/*background-color: silver;*/
	/*content: "•"; font-size: 1.1em;*/
	content: url("graphics/circle.svg");
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	/*width: 1em;*/
	height: 1em;
}
